dist
build/
docs/dist
node_modules
public/image/*
!/public/image/.gitkeep

.idea
.vscode
.DS_Store
__MACOSX
*.log
*.logs
*.local.json
*.jwt.js
*.local.yml

config/local.json
config/*-local.json

yarn.lock

ecosystem.json

# Ignore redis binary dump (dump.rdb) files
*.rdb
